body{
    font-family: Arial,sans-serif;
    margin: 0px;
    padding:0px;
    background-color: #f4f4f4;

}
header{
    
    background-color: #333;
    color:white ;
    text-align: left;
    padding: 10px 0px;
    display: flex;
    top: 0;
    z-index: 1000;
    /* text-align: center;
    align-items: center;
    justify-content: space-around; */   
}
.container{
   display:flex;
   margin: 20px;
   padding-top: 80px;
}
main{
    flex: 3;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
aside{
    flex: 1;
    background-color: #f9f9f9;
    /* margin-right: 20px; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    /* width: 100%; */
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}
.card{
    width: 28%;
    padding: 10px;
    background: #fff;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    /* box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) ; */
    /* transition: transform 0.3s, box-sadow o.3s, backgroun-color 0.3s; */
}
.card img{
    width:100px ;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    
}
button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #03344c;
    color: #fff;
    /* margin-bottom: 10px; */
    cursor: pointer;
}
.card-portfolio{
    display: flex;
    padding: 0px;
    margin: 5px;
    border-radius:20px; 
    text-align: center;
}
.portfolio{
    width: 28%;
    background: #fff;
    margin: 10px;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.1) ;
    text-align: center;
}
.portfolio img{
    width: 210px;
    height: 200px;
    object-fit: cover;
    display: flex;
    margin: 20px;
    border-radius: 20px;   
}
.card-portfolio{
    display: flex;
    justify-content: space-around;
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul li {
    margin: 10px;
}
/* li {
    display: list-item;
    text-align: isolate;
    text-align: -wekit-mach-parent;
    unicode-bidi: isolate;
} */
aside ul li a{
    text-decoration: none;
    color: #03374E;
}
aside ul li a:hover {
text-decoration: underline;
}
aside ul{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    display: flex;
    list-style: none;
    text-align: center;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.nav-links a:hover{
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
.card:hover{
    transform: translate(-10px);
    transition: 0.5;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}










